# Don't include build output folders
.build
.sim

# Don't keep local vscode settings
.vscode/*
!.vscode/c_cpp_properties-template.json
!.vscode/launch-template.json
!.vscode/settings-template.json
!.vscode/tasks-template.json