# Don't include build output folders
.build
.sim

# Don't keep local vscode settings
.vscode/*
!.vscode/c_cpp_properties_template.jsonc
!.vscode/launch_template.jsonc
!.vscode/settings_template.jsonc
!.vscode/tasks_template.jsonc

# Don't include user workspace file
*.code-workspace